body {
    margin: 0;
    background-color: #1D1E24;
    background-image: url(./triangles-top.svg), url(./triangles-bottom.svg);
    background-position: left top, right bottom;
    background-size: inherit;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #5E6E80;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.7;
    min-height: 100vh;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}